[gerrit]
    basePath = git

[index]
    type = LUCENE

[auth]
    type = ldap
    gitBasicAuthPolicy = http_ldap

[ldap]
    server = ldap://ldap
    startTls = true
    username = cn=admin,dc=home,dc=lab
    accountBase = ou=users,dc=home,dc=lab
    accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
    accountFullName = ${cn} ${sn}
    accountEmailAddress = mail
    groupBase = ou=groups,dc=home,dc=lab
    groupPattern = (&(objectClass=groupOfUniqueNames)(cn=${groupname}))
    groupMemberPattern = (&(objectClass=groupOfUniqueNames)(uniqueMember=${dn}))

[sendemail]
    smtpServer = localhost

[sshd]
    listenAddress = *:29418

[httpd]
    sslKeyStore = /var/gerrit/etc/gerrit.jks

[cache]
    directory = cache

[container]
    user = root

[accountPatchReviewDb]
    url = jdbc:postgresql://db:5432/gerrit?ssl,sslmode=verify-full&user=homelab&password=ihBOl9WJy7e8lamguuJtTUkIUezFSkhH
